bazel-bin
bazel-out
bazel-stablehlo
bazel-testlogs
build
cmake-build
llvm-project
llvm-build
.vscode
.cache
.idea/
**/__pycache__
*.whl
**/*.egg-info/
/Testing/
.venv
bench/results/*.nsys-rep
bench/results/*.sqlite
bench/results/*_cuda_gpu_trace.csv
